<% include partials/top %>

  <h1>Hello <%= title %> from EJS</h1>
  <ul>
  <% users.forEach(function(user){ %>
    <li><%= user.first_name %> <%= user.last_name %></li>
  <% }) %>
  </ul>

  <h2>Add <%= title %></h2>
  <form method="POST" action="/users/add">
    <label>First Name</label>
    <input type="text" name="first_name" />
    <br/>
    <label>Last Name</label>
    <input type="text" name="last_name" />
    <br />
    <label>Email</label>
    <input type="email" name="email" />
    <br /><br />
    <input type="submit" value="Submit" />
  </form>

  <% if(errors){ %>
    <ul>
    <% errors.forEach(function(error){ %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
  <% } %>
  
<% include partials/bottom %>